*{
  marging: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  
}

:root {
  --dark-blue: #0f057d;
  --black: #05012e;
  --gray: #ededed;
  --dark-purple: #48016b;
}
 
html, body{
  width: 100%;
  overflow-x: hidden;
  
}

header{
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #0f057d, #6e05ab);
  border-radius: 20px;
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

nav{
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand{
  font-size: 24px;
  color: white;
  cursor: pointer;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  list-style: none;
  padding: 10px;
  cursor: pointer;
  
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav lu li a:hover{
  color: #373838;
}

nav ul button{
  border: 1px solid var(--black);
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

nav ul button:hover{
  transition: background, color 0.6s;
  background: var(--black);
  color: white;
}

.content .header-block{
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background-image: linear-gradient(to bottom, var(--black), #15012e);
  border-radius: 8px;
  box-shadow: 1px 0px 10px  0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px  0px rgba(0, 0, 0, 0.5);
  -mox-box-shadow: 1px 0px 10px  0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10px;
  padding: 10px;
  
}

.header-block img{
  width: 50%;
  position: absolute;
  right: 4%;
  bottom:10%;
  border-radius: 8px;
}

.header-block .text{
  position: absolute;
  bottom: 30%;
  left: 15%;
}
                                             

.header-block .text h2{
  color: white;
  margin-button: 20px;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.5s;
}
 
.header-block .text p{
  max-width: 280px;
  color: white;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

  section .catalog{
    width:100vw;
    padding: 100px;
    
  }

  

  section .filter-card{
    width: 980px;
    height: 150px;
    background: var(--gray);
    border-radius:8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
.search-input{
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
  font-size: 1.1em;
}

.search-button{
  width: 150px;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  border: none; 
  background: var(--black);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.search-button:hover{
  background: var(--gray);
  color: var(--black);
}

.title-wrapper-catalog{
  margin-top: 200px;
  padding-bottom: 5px;
}

.title-wrapper-catalog p{
  font-size:1.4em;
  
}

section .card-wrapper{
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item{
  height: 400px;
  background: var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content{
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img{
  
  max-height: 200px;
  width: 85%;
  border-radius: 8px;
}

.card-item h4{
  width: 90%;
  
}

.card-item p{
  margin-top: 10px;
  width: 90%;
  font-style: italic;
  color: #00000070;

}

.card-item button{
  min-width: 250px;
  max-width: 250px;
  width: 90%;
  padding: 15px 0px;
  border: none;
  background: var(--black);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor:pointer;
  transition: 0.3s ease;
  margin-bottom: 15%;
  
  
}

.card-item button:hover{
  background: var(--gray);
  color: var(--black);
}